
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/blue-phone-orange-background-760.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    text-align: center;
}
header p{
    font-size: 18px;
}
#container {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    height: 90vh;
    margin-top: 2em;
}
.userBox {
line-height: 10px;
text-align: center;
}
section {
    width: 18em;
    height: 35em;
    border: 8px solid black;
    border-radius: 25px;
    overflow: auto;
    margin: 20px;
    position: relative;
}
.smartph {
    padding: 0.5em 1em;
    color: white;
}
#user1 .smartph{
    background-color: #fc70c4;
}
#user2 .smartph{
    background-color: #42b87b;
}
#user3 .smartph{
    background-color: #4eb7bc;
}
.displayUp {
    display: flex;
    justify-content: space-between;
}
.smartph p{
    margin: 0;
}
.central {
    font-size: 17px;;
    text-align: center;
}
.central img{
    width: 90px;
    border-radius: 50%;
}
#user1{
    background-image: url(../img/bg_us1.jpeg);
    background-size: cover;
}
#user2{
    background-image: url(../img/bg_us2.jpeg);
    
}
#user3{
    background-image: url(../img/bg_us3.jpeg);
    background-size: cover;
}

#user1_{
    background-image: url(../img/sfondo1.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10px;
    padding: 100px;
    padding-top: 20px;
}
#user2_{
    background-image: url(../img/sfondo2.jpeg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -80px;
    padding: 100px;
    padding-top: 20px;
    
}
#user3_{
    background-image: url(../img/sfondo3.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -80px;
    padding: 100px;
    padding-top: 20px;
}
.buttons {
    text-align: center;
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    color: white;
}
.btn{
    font-size: 25px;
    width: 50px;
    border-radius: 50%;
    padding: 0.3em; 
    border: transparent; 
    align-items: center;

}
.buttons p{
    display: flex;
    flex-direction: column;
    
}
.fas {
    color: white;
}
.creditobtn{
    background-color: rgb(0, 163, 163);
}
.chiamabtn{
    background-color: #01d371;
}
.ricaricabtn{
    background-color: #00a6d8;
}
#user1 .buttons {
    background-color: #feaddeb1;  
}
#user2 .buttons {
    background-color: #73dba5b3;  
}
#user3 .buttons {
    background-color: #7be4e9b0;  
}
.d-none{
    display: none;
}
.credit, .ricarica, .chiamare, .chargement, .endcalling {
    background-color: #cae2fbd7;
    text-align: center;
    color: #1c344d;
    border-radius: 7px;
    overflow: hidden;
    line-height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
}
.credit input, .chiamare input, .ricarbtns {
    background-color: #cae2fbd7;
    text-align: center;
    color: #1c344d;
    padding: 1em;
    border: transparent;
    border-top: 0.5px solid rgb(143, 143, 143);
    width: 50%;
}

.credit .close, .ricarica .ricbtn, .chargement .close, .endcalling .close {
    border-right: 0.5px solid rgb(143, 143, 143);
}
.chargeInput {
    border: transparent;
    background-color: #80beff;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1em;
}
.fa-phone-slash{
    color: red;
}
.closeCallbtn {
    background: transparent;
    border: transparent;
    font-size: 20px;
    margin-bottom: 1em;
}